<!DOCTYPE html>
<html lang="en">
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista de todos los futbolistas</title>
</head>
<body>
<h1>Lista de colaboradores(as)</h1>
<p><a href="/">Volver al inicio</a></p>
<ul>
  <div th:object="listaPor">

        <label> Nombre: &nbsp;</label>
        <span th:text="${listaPor.nombre}">Nombre</span>
        <span th:text="${listaPor.apellido1}">Primer Apellido</span>
        <span th:text="${listaPor.apellido2}">Segundo Apellido</span>
        <br>
        <label> Posición de juego: &nbsp;</label>
        <span th:text="${listaPor.posicion}">Posición de juego</span>
        <br>
        <label> Rama de competición: &nbsp;</label>
        <span th:text="${listaPor.Genero}">Rama de competición</span>
        <br>
        <label> Estatura: &nbsp;</label>
        <span th:text="${listaPor.estatura}">Estatura</span>
        <br>
        <label> Peso: &nbsp;</label>
        <span th:text="${listaPor.peso}">Peso</span>
        <label> Indice Masa muscular: &nbsp;</label>
        <br>
        <span th:text="${listaPor.indiceMasa}">Indice Masa muscular</span>
        <br>
        <label> Provincia: &nbsp;</label>
        <span th:text="${listaPor.provincia}">Provincia</span>
        <br>
        <label> Cantón: &nbsp;</label>
        <span th:text="${listaPor.canton}">Canton</span>
        <br>
        <label> Distrito: &nbsp;</label>
        <span th:text="${listaPor.distrito}">Distrito</span>
        <br>
        <label> Dirección: &nbsp;</label>
        <span th:text="${listaPor.direccion}">Dirección</span>
        <br>
        <label> Teléfono: &nbsp;</label>
        <span th:text="${listaPor.telefono}">Teléfono</span>
        <br>
        <label> Email: &nbsp;</label>
        <span th:text="${listaPor.email}">E-Mail</span>
      </li>

  </div>
</ul>


</body>
</html>